<?xml version="1.0"?>

<model>
  <name>ArduPilot Iris Customized</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Abhijith Ganesh</name>work@abhijithganesh.com</author>
  <description>
    Starting with iris_with_standoffs
    add LiftDragPlugin
    add ArduCopterPlugin
  </description>
  <depend>
    <model>
      <uri>model://iris_with_standoffs</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>